:root {
  --bg: #333;
  --bgradial: #555;
  --text: #ddd;
  --selected: #314251;
  --off: #959595;
  --input: #ae0;
  --dot: 12px;
  --port-dot: {
    background: transparent;
    border: 2px solid var(--off);
    border-radius: 100%;
    cursor: pointer;
  }
}

.DependencySimpleNode {
  color: #ddd;
  background: var(--bg);
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  cursor: move;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.DependencySimpleNodeSelected {
  background: var(--selected);
}
.DependencySimpleNodeTitle {
  pointer-events: none;
  user-select: none;
  text-align: center;
  padding: 10px 10px;
}
.DependencySimpleNodeName {
  font-weight: 500;
  text-transform: unset;
  font-size: 12px;
}
.DependencySimpleNodeType {
  font-weight: 300;
  text-transform: uppercase;
}
