:root{
    --bg: #333;
    --transition:all 0.25s;
}

.SpaceBarMenu {
  background: var(--bg);
  border: 1px solid #555;
  color: #aaa;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 20px;
}
.SpaceBarCategories{
  position: absolute;
  text-align: right;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 40px;
}
.SpaceBarCategory {
  margin: 0 5px;
  display: inline-table;
}
.SpaceBarItems{
  position: absolute;
  max-width: 300px;
  display: grid;
  grid-template-columns: repeat(3,auto);
  background: #444;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}
.SpaceBarItem, .SpaceBarCategoryName {
  background: var(--bg);
  padding: 5px 10px;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}
.SpaceBarItem{
  margin: 0 5px 5px 0;
}
.SpaceBarItem:hover{
    color:white;
}
